@import url('../index.css?cacherefresh=2018-02-22_13:00:27');

/* ========================================================================================== */

.INPUT {
    background-color: lightgoldenrodyellow;
}

.INPUT_OPTIONAL {
    background-color: bisque;
}

.INPUT_CALCULATED {
    background-color: lightcyan;
}

