################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Web.config
/bin/www.*.dll
/bin/www.*.pdb
/__
/__Debugging
*.user

