################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/obj
/bin/*.*
/bin/www.*.dll
/bin/www.*.pdb
/bin/www.debug
/bin/www
/__
/__Debugging
*.user

