/* ========================================================================================== */
/* Root Level Styles */
/* ========================================================================================== */

/* ------------------------------------------------------------------------------------------ */
/*#region Styles that should be applied to html elements by default. */
ul, ol, blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

td, th {
    padding-left: .25em;
    padding-right: .25em;
}

th {
    font-size: larger;
}

h1 {
    font-size: 3em;
    font-family: Arial;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
}

/*#endregion*/

/* ------------------------------------------------------------------------------------------ */
/*#region Classes that contain styles */

/*#region Classes that are used to provide general styles throughout the site. */
.DISABLED {
    pointer-events: none;
    cursor: default;
    color: gray;
    opacity: 0.2;
}

.SEPARATOR_BORDER {
    width: 50%;
    margin-left: 0;
}

.DIV_HIDDEN {
    display: none;
}

/*#endregion*/

/*#region Classes that affect text size, style, color, etc. */
.TODO {
    font-size: larger;
    font-weight: bold;
    color: red;
}

.NOTE {
    font-size: smaller;
    font-style: italic;
}

.SIGNIFICANT {
    font-weight: bold;
    text-decoration: underline;
}

.EMPHASIS {
    font-weight: bold;
    font-style: italic;
}

.UNAVAILABLE {
    color: gray;
}

.BUTTON {
    display: inline-block;
    font-size: smaller;
    padding-left: .25em;
    padding-right: .25em;
    cursor: context-menu;
}

    .BUTTON:hover {
        color: white;
        background-color: silver;
    }

.NUMERIC {
    text-align: right;
}

/*#endregion*/

/*#region Classes that affect positioning and/or spacing. */
.INDENT {
    margin-left: 2.5em;
}

.INDENT_SMALL {
    margin-left: 1em;
}

.PARENT {
    margin-bottom: 0px;
}

.CHILD {
    margin-top: 0px;
}

.PADDED_LIST {
}

    .PADDED_LIST li {
        padding-bottom: .5em;
    }

.NOTE_BLOCK {
    display: inline-block;
    border: 1px solid black;
    padding: 1em;
    background-color: lightyellow;
    font-size: smaller;
    font-style: italic;
}

.POPUP_DIALOG {
    display: none; /* Start as hidden. */
    position: fixed; /* Do not move when page is scrolled. */
    z-index: 1; /* Stay in front */
    padding: 0;
    background-color: white;
    border: 4px outset gray;
    margin: auto;
    left: -1px;
}

.POPUP_DIALOG_HEADER {
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 0 .25em 0 .25em;
    font-size: x-large;
    background-color: aliceblue;
    cursor: move;
}

.POPUP_DIALOG_HEADER_TITLE {
    font-size: x-large;
    font-weight: bold;
    cursor: move;
}

.POPUP_DIALOG_HEADER_CLOSE_BUTTON {
    float: right;
    margin-top: .1em;
    cursor: move;
}
/*#endregion*/

/*#region Classes that are used for dealing with tables and cells. */
.CELL_FILLED {
    padding: 0;
    height: 1px;
}

.CELL_FILLER {
    height: 100%;
    width: 100%;
}

.UNAVAILABLE_ROW {
    color: lightgray;
    background-color: darkgray;
}

.ROTATED_CONTAINER {
    padding-left: 0;
    padding-right: 1em;
    text-align: center;
    vertical-align: bottom;
}

.ROTATED {
    transform: rotate(-90deg);
    padding: 1em 0 0 0;
    margin: 3em 0 0 0;
    width: 1em;
}

.KEY_TABLE {
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    margin-right: 1em;
}

/*#endregion*/

/*#region Classes for outputting Pokemon images. */
.SPRITE {
    max-width: 65px;
    max-height: 65px;
}

.SPRITE_SMALL {
    max-width: 40px;
    max-height: 40px;
}

.SPRITE_FILLER {
    display: flex;
    justify-content: center;
}

.SPRITE_BOXED {
    flex-basis: 8em;
    border: 1px solid black;
    margin: .1em;
}

.SPRITE_FRAME {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: .25em;
    margin: .25em;
}

.SPRITE_ALIGN_TOP {
    align-self: flex-start;
}

.SPRITE_ALIGN_MIDDLE {
    align-self: center;
}

.SPRITE_ALIGN_BOTTOM {
    align-self: flex-end;
}

.SPRITE_LINK {
    text-decoration: none;
    display: block;
}

.SPRITE_WITH_WRAPPED_ICON {
    margin-top: 1em;
}

.SPACER_ICON {
    width: .5em;
}

.TAG_ICON_LARGE {
    width: 2em;
}

.TAG_ICON_REGULAR {
    width: 1em;
}

.TAG_ICON_SMALL {
    width: .5em;
}

.TAG_ICON_OVERLAP {
    position: absolute;
    left: 0;
    top: 0;
}

.LEFT_ICON {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
}

.RIGHT_ICON {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
}

.WRAPPED_ICON {
    width: 1.5em;
    margin: .75em;
}

/* ICON_WRAPPER classes are to allow "wrapping" an icon with another icon (in the background). It relies on "background-image: url(...)" in the style on the container with these classes. */
.ICON_WRAPPER {
    width: 3em;
    height: 3em;
    background-size: cover;
}

/*#endregion*/

/*#region Classes for images */
.FLOAT_RIGHT {
    float: right;
    margin: 0 0 .5em .5em;
}

.FLOAT_LEFT {
    float: left;
    margin: 0 1em .5em 0;
}

.FLOAT_END {
    clear: both;
}

.IMAGE_FULL_WIDTH {
    width: 80%;
    max-width: 1280px;
}

.IMAGE_HALF_WIDTH {
    width: 50%;
    max-width: 256px;
}

/*#endregion*/

/*#region Classes that are leveraged for outputting content general to all pages. (E.G. Footer) */
.BOTTOM_BORDER {
    border-width: 2px;
    border-color: darkgray;
    clear: both;
}

/*#endregion*/

/*#region Classes that specify Colors for various states. */
.GREAT {
    background-color: #80E070;
    font-weight: bold;
}

.GOOD {
    background-color: palegreen;
}

.OKAY {
    background-color: #FFFF80;
}

.POOR {
    background-color: #FFC060;
}

.BAD {
    background-color: #F08080;
}

.HORRENDOUS {
    background-color: #D02020;
}

.UNUSED {
    background-color: darkgray;
}

.LEGACY_MOVESET {
    color: gray;
}

.LEGACY_MOVE {
    text-decoration: line-through;
}

.STAB_MOVE {
    color: gold;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.LEGACY_STAB_MOVE {
    color: gray;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.SHADED {
    background-color: Gainsboro;
}

.HATCH_ONLY_2K {
    background-color: #B0D0A0;
}

.HATCH_ONLY_5K {
    background-color: #F0C070;
}

.HATCH_ONLY_10K {
    background-color: #B0A0D0;
}

.RAIDBOSS_ONLY_EX {
    background-color: #9090E0;
    color: gold;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
}

.RAIDBOSS_ONLY {
    background-color: #9F9FEF;
}

.REGIONAL {
    font-style: italic;
}

.LEGENDARY {
    /* 
        Not using this because the border spills outside of the cell:
        border: 5px ridge gold;
    */
    /*box-shadow: inset -5px 0 3px orchid, inset 0 -5px 3px orchid, inset 5px 0 3px orchid, inset 0 5px 3px orchid;*/
    box-shadow: inset 0 0 10px 3px orchid, inset 0 0 10px 3px orchid, inset 0 0 10px 3px orchid, inset 0 0 10px 3px orchid;
}

.MYTHIC {
    /* 
        Not using this because the border spills outside of the cell:
        border: 5px ridge silver;
    */
    box-shadow: inset 0 0 10px 3px gold, inset 0 0 10px 3px gold, inset 0 0 10px 3px gold, inset 0 0 10px 3px gold;
}

.GEN1 {
    background-color: #CBC8FD;
}

.GEN2 {
    background-color: #CED8FC;
}

.GEN3 {
    background-color: #B5CCFE;
}

.GEN4 {
    /* This color is a total guess. Update when it comes out. */
    background-color: #6FCFCF;
}

.GEN5 {
    /* This color is a total guess. Update when it comes out. */
    background-color: #6FCFAF;
}

.GEN6 {
    /* This color is a total guess. Update when it comes out. */
    background-color: LightGreen;
}

.GEN7 {
    /* This color is a total guess. Update when it comes out. */
    background-color: #DFFF80;
}

.GEN_OVERALL {
    /* This color is a total guess. Update when it comes out. */
    background-color: turquoise;
}

/*#endregion*/

/*#endregion*/

/* ------------------------------------------------------------------------------------------ */
/*#region Classes for items managed in controls.js */
.COLLAPSER {
    /* This class is also used to find the collapsers and initialize them. */
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
    margin-top: .2em;
    cursor: context-menu;
    /* The strokes on this char are extremely thin, so this is to make it more visible. */
    font-weight: 900;
    text-shadow: 0px 2px 2px black;
}

    .COLLAPSER:hover {
        color: white;
        background-color: silver;
    }

.CONTROLS_SLIDER_BUTTON {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 1em;
}

    .CONTROLS_SLIDER_BUTTON:before {
        position: absolute;
        content: "";
        height: .8em;
        width: .8em;
        left: .2em;
        bottom: .1em;
        background-color: white;
        -webkit-transition: .2s;
        transition: .2s;
        border-radius: 50%;
    }

input:checked + .CONTROLS_SLIDER_BUTTON {
    background-color: deepskyblue;
}

    input:checked + .CONTROLS_SLIDER_BUTTON:before {
        -webkit-transform: translateX(.8em);
        -ms-transform: translateX(.8em);
        transform: translateX(.8em);
    }

.CONTROLS_HELP {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 1em;
    border: 2px solid blue;
    color: blue;
    background: white;
    text-align: center;
    cursor: help;
}

    .CONTROLS_HELP:hover {
        color: white;
        background: blue;
    }

        .CONTROLS_HELP:hover .CONTROLS_INFO_CONTENT {
            visibility: visible;
            opacity: 1;
        }

.CONTROLS_INFO {
    display: inline-block;
}

    .CONTROLS_INFO:hover .CONTROLS_INFO_CONTENT {
        visibility: visible;
        opacity: 1;
    }

.CONTROLS_INFO_CONTENT {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    display: inline-block;
    position: absolute;
    z-index: 1;
    color: black;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 6px;
    text-shadow: none;
    padding: .25em;
}

/*#endregion*/
