/* ========================================================================================== */
/* Root Level Styles */
/* ========================================================================================== */

/* ------------------------------------------------------------------------------------------ */
/*#region Styles that should be applied to html elements by default. */
ul, ol, blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

td, th {
    padding-left: .25em;
    padding-right: .25em;
}

th {
    font-size: larger;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
}

/*#endregion*/


/* ------------------------------------------------------------------------------------------ */
/*#region Classes that contain styles */

/*#region Classes that are used to provide general styles throughout the site. */
.DISABLED {
    pointer-events: none;
    cursor: default;
    color: gray;
    opacity: 0.2;
}

.SEPARATOR_BORDER {
    width: 50%;
    margin-left: 0;
}

.DIV_HIDDEN {
    display: none;
}

.DIV_SHOWN {
    display: block;
}

/*#endregion*/

/*#region Classes that affect text size, style, color, etc. */
.TODO {
    font-size: larger;
    font-weight: bold;
    color: red;
}

.NOTE {
    font-size: smaller;
    font-style: italic;
}

.UNAVAILABLE {
    color: gray;
}

.BUTTON {
    display: inline-block;
    font-size: smaller;
    padding-left: .25em;
    padding-right: .25em;
    cursor: context-menu;
}
    .BUTTON:hover {
        color: white;
        background-color: silver;
    }

.COLLAPSER {
    /* Currently just used for look-up. */
}

.NUMERIC {
    text-align: right;
}

/*#endregion*/

/*#region Classes that affect positioning and/or spacing. */
.INDENT {
    margin-left: 2.5em;
}

.INDENT_SMALL {
    margin-left: 1em;
}

.PARENT {
    margin-bottom: 0px;
}

.CHILD {
    margin-top: 0px;
}

.NOTE_BLOCK {
    display: inline-block;
    border: 1px solid black;
    padding: 1em;
    background-color: lightyellow;
    font-size: smaller;
    font-style: italic;
}

.POPUP_DIALOG {
    display: none; /* Start as hidden. */
    position: fixed; /* Do not move when page is scrolled. */
    z-index: 1; /* Stay in front */
    padding: 0;
    background-color: white;
    border: 4px outset gray;
    margin: auto;
    left: -1px;
}

.POPUP_DIALOG_HEADER {
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 0 .25em 0 .25em;
    font-size: x-large;
    background-color: aliceblue;
    cursor: move;
}

.POPUP_DIALOG_HEADER_TITLE {
    font-size: x-large;
    font-weight: bold;
    cursor: move;
}

.POPUP_DIALOG_HEADER_CLOSE_BUTTON {
    float: right;
    margin-top: .1em;
    cursor: move;
}
/*#endregion*/

/*#region Classes that are used for dealing with tables and cells. */
.CELL_FILLED {
    padding: 0;
    height: 1px;
}

.CELL_FILLER {
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.UNAVAILABLE_ROW {
    color: lightgray;
    background-color: darkgray;
}

.ROTATED_CONTAINER {
    padding-left: 0;
    padding-right: 1em;
    text-align: center;
    vertical-align: bottom;
}

.ROTATED {
    transform: rotate(-90deg);
    padding: 1em 0 0 0;
    margin: 3em 0 0 0;
    width: 1em;
}

.KEY_TABLE {
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    margin-right: 1em;
}

/*#endregion*/

/*#region Classes for outputting Pokemon images. */
.SPRITE {
    max-width: 65px;
    max-height: 65px;
}

.SPRITE_SMALL {
    max-width: 40px;
    max-height: 40px;
}

.SPRITE_FILLER {
    text-align: center;
    display: table;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.SPRITE_DIV_FILLER {
    display: table-cell;
    height: 100%;
    width: 100%;
    padding: .5em;
}

.SPRITE_BOXED {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.SPACER_ICON {
    width: .5em;
}

.TAG_ICON {
    width: 1em;
}

.SHINY_ICON {
    float: left;
    width: 1.5em;
}

/*#endregion*/

/*#region Classes for images */
.FLOAT_RIGHT {
    float: right;
    margin: 0 0 .5em .5em;
}

.FLOAT_LEFT {
    float: left;
    margin: 0 1em .5em 0;
}

.FLOAT_END {
    clear: both;
}

.IMAGE_FULL_WIDTH {
    width: 80%;
    max-width: 1280px;
}

.IMAGE_HALF_WIDTH {
    width: 50%;
    max-width: 256px;
}

/*#endregion*/

/*#region Classes that are leveraged for outputting content general to all pages. (E.G. Footer) */
.BOTTOM_BORDER {
    border-width: 2px;
    border-color: darkgray;
    clear: both;
}

/*#endregion*/

/*#region Classes that specify Colors for various states. */
.GREAT {
    background-color: #80E070;
    font-weight: bold;
}

.GOOD {
    background-color: palegreen;
}

.OKAY {
    background-color: #FFFF80;
}

.POOR {
    background-color: #FFC060;
}

.BAD {
    background-color: #F08080;
}

.HORRENDOUS {
    background-color: #D02020;
}

.UNUSED {
    background-color: darkgray;
}

.LEGACY_MOVESET {
    color: gray;
}

.LEGACY_MOVE {
    text-decoration:line-through;
}

.SHADED {
    background-color: Gainsboro;
}

.HATCH_ONLY_2K {
    background-color: #B0D0A0;
}

.HATCH_ONLY_5K {
    background-color: #F0C070;
}

.HATCH_ONLY_10K {
    background-color: #B0A0D0;
}

.RAIDBOSS_ONLY_EX {
    background-color: #9090E0;
    color: gold;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
}

.RAIDBOSS_ONLY {
    background-color: #9F9FEF;
}

.REGIONAL {
    font-style: italic;
}

.LEGENDARY {
    /* 
        Not using this because the border spills outside of the cell:
        border: 5px ridge gold;
    */
    box-shadow: inset -5px 0 3px gold, inset 0 -5px 3px gold, inset 5px 0 3px gold, inset 0 5px 3px gold;
}

.GEN1 {
    background-color: #CBC8FD;
}

.GEN2 {
    background-color: #CED8FC;
}

.GEN3 {
    background-color: #B5CCFE;
}

.GEN4 {
    /* This color is a total guess. Update when it comes out. */
    background-color: #6FCFCF;
}

.GEN5 {
    /* This color is a total guess. Update when it comes out. */
    background-color: #6FCFAF;
}

.GEN6 {
    /* This color is a total guess. Update when it comes out. */
    background-color: LightGreen;
}

.GEN7 {
    /* This color is a total guess. Update when it comes out. */
    background-color: #DFFF80;
}

/*#endregion*/

/*#endregion*/
