@import url('index.css?cacherefresh={$CurrentDate}');

/* ========================================================================================== */

td a {
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------ */

.NEWS_BOX {
    border: 4px outset darkgrey;
    margin: 1em;
    float: left;
}

.NEWS {
    margin: 1em;
}

.NEWS_TITLE {
    margin-top: 0px;
    padding-bottom: .25em;
    text-align: center;
    background-color: lightskyblue;
}

.NEWS_ARTICLE_HEADER {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid black;
    background-color: aliceblue;
}

.NEWS_HEADLINE {
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.NEWS_CONTENT {
    padding: 1em;
}

.SECTION {
    display: table;
    margin-top: 1em;
}

.SECTION_CELL_FILLER {
    display: flex;
    height: 100%;
    width: 100%;
}

.SECTION_TITLE {
    font-size: 1.75em;
    text-decoration: underline;
    font-weight: bold;
}

.SITE_MAP_SECTION {
    font-weight: bold;
    text-decoration: underline;
}
