@import url('../index.css?cacherefresh=2018-02-26_12:19:56');

/* ========================================================================================== */
.FORMULA  {
    border: 1px solid;
    padding: 1em;
}

table.FORMULA td {
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

.FORMULA_DIVIDE_BY {
    border-top: 2px solid;
}
