<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" last_updated="2018-09-13">
  <GameMasterStats last_updated="2018-09-13" gens_total="7" gens_released="3">
    <PokemonCount gen="0" total="883" available="416" available_wa="404" />
    <PokemonCount gen="1" total="187" available="187" available_wa="184" />
    <PokemonCount gen="2" total="100" available="99" available_wa="97" />
    <PokemonCount gen="3" total="143" available="130" available_wa="123" />
    <PokemonCount gen="4" total="118" available="0" available_wa="0" />
    <PokemonCount gen="5" total="158" available="0" available_wa="0" />
    <PokemonCount gen="6" total="79" available="0" available_wa="0" />
    <PokemonCount gen="7" total="98" available="0" available_wa="0" />
    <MoveSets gen="0" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="1" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="2" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="3" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="4" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="5" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="6" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="7" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
  </GameMasterStats>
  <Desirable iv="90" attack="100" max_cp="2000" base_dps="29" />
  <MaxCP great="3000" good="2500" okay="2000" />
  <MaxHP great="200" good="150" okay="100" />
  <DPSPercent great="100" good="90" okay="80" />
  <DPS great="90" good="75" okay="0" />
  <Capture easy="50" moderate="20" difficult="10" />
  <Flee bad="20" okay="10" nice="5" />
  <Attack bad="30" okay="15" nice="10" />
  <Dodge bad="20" okay="15" nice="1" />
</Settings>