<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" last_updated="2018-05-11">
  <GameMasterStats last_updated="2018-05-19" gens_total="7" gens_released="3">
    <PokemonCount gen="0" total="815" available="375" available_wa="363" />
    <PokemonCount gen="1" total="151" available="151" available_wa="148" />
    <PokemonCount gen="2" total="100" available="98" available_wa="96" />
    <PokemonCount gen="3" total="143" available="126" available_wa="119" />
    <PokemonCount gen="4" total="107" available="0" available_wa="0" />
    <PokemonCount gen="5" total="156" available="0" available_wa="0" />
    <PokemonCount gen="6" total="72" available="0" available_wa="0" />
    <PokemonCount gen="7" total="86" available="0" available_wa="0" />
    <MoveSets gen="0" dps_max="20.127388535031844" dps_avg="16.382552216632078" true_dps_max="36.30952380952381" true_dps_avg="17.554748672817286" />
    <MoveSets gen="1" dps_max="20.125786163522012" dps_avg="16.527391784824694" true_dps_max="34.466666666666669" true_dps_avg="18.641467627153798" />
    <MoveSets gen="2" dps_max="20" dps_avg="16.35650107939674" true_dps_max="32.589928057553955" true_dps_avg="16.160734601276872" />
    <MoveSets gen="3" dps_max="20.127388535031844" dps_avg="16.096112765072434" true_dps_max="36.30952380952381" true_dps_avg="16.31095732525689" />
    <MoveSets gen="4" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="5" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="6" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
    <MoveSets gen="7" dps_max="0" dps_avg="0" true_dps_max="0" true_dps_avg="0" />
  </GameMasterStats>
  <Desirable iv="90" attack="100" max_cp="2000" base_dps="29" />
  <MaxCP great="3000" good="2500" okay="2000" />
  <MaxHP great="200" good="150" okay="100" />
  <DPSPercent great="100" good="90" okay="80" />
  <DPS great="90" good="75" okay="0" />
  <Capture easy="50" moderate="20" difficult="10" />
  <Flee bad="20" okay="10" nice="5" />
  <Attack bad="30" okay="15" nice="10" />
  <Dodge bad="20" okay="15" nice="1" />
</Settings>