@import url('../index.css?cacherefresh=2018-03-16_12:56:40');

/* ========================================================================================== */

td, th {
    white-space: nowrap;
}

/* ------------------------------------------------------------------------------------------ */

.SUBCOMMENT {
    font-weight: normal;
    font-size: smaller;
}

