@import url('../index.css?cacherefresh=2018-03-06_09:27:19');

/* ========================================================================================== */

td, th {
    white-space: nowrap;
}

/* ------------------------------------------------------------------------------------------ */

.SUBCOMMENT {
    font-weight: normal;
    font-size: smaller;
}

