@import url('../index.css?cacherefresh=2018-03-13_12:55:36');

/* ========================================================================================== */

.INPUT {
    background-color: lightgoldenrodyellow;
}

.INPUT_OPTIONAL {
    background-color: bisque;
}

.INPUT_CALCULATED {
    background-color: lightcyan;
}

