@import url('../index.css?cacherefresh=2018-02-26_12:19:56');

/* ========================================================================================== */

.INPUT {
    background-color: lightgoldenrodyellow;
}

.INPUT_OPTIONAL {
    background-color: bisque;
}

.INPUT_CALCULATED {
    background-color: lightcyan;
}

