@import url('../index.css?cacherefresh=2018-03-09_14:36:06');

/* ========================================================================================== */

.INPUT {
    background-color: lightgoldenrodyellow;
}

.INPUT_OPTIONAL {
    background-color: bisque;
}

.INPUT_CALCULATED {
    background-color: lightcyan;
}

