@import url('../index.css');

/* ========================================================================================== */

.INPUT {
    background-color: lightgoldenrodyellow;
}

.INPUT_OPTIONAL {
    background-color: bisque;
}

.INPUT_CALCULATED {
    background-color: lightcyan;
}

